
.vs/SakiFramework/v15/.suo
.vs/SakiFramework/v15/Server/sqlite3/db.lock
.vs/SakiFramework/v15/Server/sqlite3/storage.ide
.vs/SakiFramework/v15/Server/sqlite3/storage.ide-shm
.vs/SakiFramework/v15/Server/sqlite3/storage.ide-wal
Library/
Temp/
SakiFramework.csproj
SakiFramework.Editor.csproj
SakiFramework.sln
.vs/SakiFramework/DesignTimeBuild/.dtbcache